body {
    background-image: url("../images/Disneyheroes.png");
    width: 900px;
    
}

h1 {
    float: none;
    margin: 0 auto;
    font-size: 43px;
    border: solid 15px purple;
    background: gray;
    text-align: center;
    padding: 15px;
    font-family: 'Faster One', cursive;
}

h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    padding-top: 10px;
}


img {
    margin: 10px;
}


.sidebar {
    padding: 5px;
    position: relative;
    border-top: solid teal 5px;
    border-bottom: solid purple 5px;
    margin-bottom: 5px;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    color: white;
}

span {
    border: solid teal 5px;
    padding-left: 3px;
    padding-right:3px;
    background-color: purple; 
    font-size: 15px;
}

.background {
    float: none;
    margin: 125px 500px;
    padding: 100px 100px;
    background-image: url("../assets/DisneyHeroes3.png");
    border: solid 15px teal;
}

.container {
    float: none;
    margin: auto;
    padding: auto;
    background-color: gray;
    text-align: center;
    border: solid 10px purple;
}

#currentword {
    font-size: 30px;
    font-family: 'Press Start 2P', cursive;
    margin-bottom: 10px;
    margin-top: 10px;
}

#scoreboard {
    padding: 20px;
}

@media screen and (max-width: 1333px){
    .background, .container {
        float: none;
        margin: 0 auto;
        width: auto;
    }
   }

   @media screen and (max-width: 1050px){
    .background, .container {
        float: none;
        margin: 0 auto;
        width: auto;
    }
   }   

@media screen and (max-width: 900px){
    .background, .container {
        float: none;
        margin: 0 auto;
        width: auto;
    }
   }

@media screen and (max-width: 768px) {
    .background, .container {
        float: none;
        margin: 0 auto;
        width: auto;
    }
}

@media screen and (max-width: 640px) {
    .background, .container {
        float: none;
        margin: 0 auto;
        width: auto;
    }
      
}

@media screen and (max-width: 500px) {
    .background, .container {
        float: none;
        margin: 0 auto;
        width: auto;
    }
      
}

@media screen and (max-width: 340px) {
    .background, .container {
        float: none;
        margin: 0 auto;
        width: auto;
    }
      
}