body {
    background-image: url("../images/Disneyheroes.png");
    width: 900px;
    
}

h1 {
    font-size: 43px;
    border: solid 15px purple;
    background: gray;
    text-align: center;
    margin-top: 2%;
    margin-left: 10%;
    margin-right:10%;
    padding: 15px;
    font-family: 'Faster One', cursive;
}

h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    padding-top: 10px;
}


img {
    margin: 10px;
}


.sidebar {
    padding: 5px;
    position: relative;
    border-top: solid teal 5px;
    border-bottom: solid purple 5px;
    margin-bottom: 5px;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
}

span {
    border: solid teal 5px;
    padding-left: 3px;
    padding-right:3px;
    background-color: purple; 
    font-size: 15px;
}

.background {
    margin: auto;
    background-image: url("../assets/DisneyHeroes3.png");
    border: solid 15px teal;
}

.container {
    background-color: gray;
    margin: auto;
    text-align: center;
    border: solid 10px purple;
}

#currentword {
    font-size: 30px;
    font-family: 'Press Start 2P', cursive;
    margin-bottom: 10px;
    margin-top: 10px;
}

#scoreboard {
    padding: 20px;
}